@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <div class="card-header">
        Spraying Agent Tool
    </div>
    <div class="card-body">
        <p>
            A tool that will calculate the spraying agent to water ratio instantly
        </p>
        <a href="/SprayingDetails" class="btn btn-primary">Calculate</a>
    </div>
</div>
